body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cccccc;
  background-image: url('../src/images/lib.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textbox{
  color: #2b272e;
  background-color: #2b272e;
}

.botonlogin{
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.nav-items {
  list-style: none;;
  display: flex;
}

.headernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#2b272e;
  outline: teal;
  box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
}

.nav-items > li {
  color: #fff;
  padding: 10px;
}

.nav-logo {
  width: 80px;
}

.loginbox{
  position: relative;
  width: 25%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  margin: 12% auto;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
}

.formbox{
  position: relative;
  width: 28%;
  background: #333;
  border: none;
  outline: none;
  padding: 10px 70px 10px;
  margin: 10% auto;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
}

.infobox{
  background:#2b272e;
  outline: teal;
  color: #fff;
  position: relative;
  margin: 1% auto;
  padding: 20px 10px 10px;
  width: 20%;
}

.ul-sin-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.curso--registro-formbox{
  position: relative;
  width: 30%;
  height: 80%;
  background: #333;
  border: none;
  outline: none;
  padding: 50px 50px 50px;
  margin: 5% auto;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  justify-content: space-evenly;
}

.curso--nombre-box{
position: relative;
 left:-20px;
}

.curso--botonsubmit{
position: relative;
top: 40px;
right: 110px;
}

.curso--edicion-formbox{
  position: relative;
  width: 25%;
  height: 80%;
  background: #333;
  border: none;
  outline: none;
  padding: 30px 50px 50px;
  margin: 5% auto;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  justify-content: space-evenly;
}

.curso--botoncancelar{
  position: relative;
  right: -10px;
  top: 45px;
  }